<!DOCTYPE html>
<html>

<head>
    <title>Get in touch Request</title>
</head>

<body>
    <p>Name: <%= name %>
    </p>
    <p>Address: <%= address %>
    </p>
    <p>Pincode: <%= pincode %>
    </p>
    <p>Date: <%= date %>
    </p>
    <p>Message: <%= message %>
    </p>
    <br>
</body>

</html>